* {
	font-family: Arial;
}

.center {
  text-align: center;
}


.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	/*justify-content: space-evenly;
	flex-flow: row-reverse wrap;
	justify-content: space-evenly;
	align-items: flex-end;
	align-content: space-between;*/
	padding: 15px;
	row-gap: 15px;
}

.item {
/*	width: 45%;
	height: 45%;*/
	/*margin: auto;*/
	/*align-items: flex-start;*/
	align-self: flex-start;
	flex: 0 0 200px;
	border: 5px solid black;
	padding:  5px;

}

.p1{
	padding: 5px;
}

.parent {
	text-align: center;
	}
.ul1 { 
	display: inline-block; 
	text-align: left; 
	}

.shapes {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	
}

.shape {
	/*align-self: flex-start;
	flex: 0 0 200px;
	border: 5px solid black;
	padding:  5px;
	display: inline-block;*/
	align-self: center;
	display: inline-block;
	padding: 5px;
}


.my-rectangle:hover { fill: #5F9EA0;}

.my-circle:hover { fill: #5F9EA0;}


